<section class="pt-6">
    <div class="w-11/12 sm:w-3/4 lg:pl-6 m-auto">
        <h2 class="font-bold text-xl">Módulos</h2>
        <nav class="flex items-center space-x-2 text-gray-600 text-sm flex-wrap">
            <ng-container *ngFor="let item of breadcrumb; let last = last">
                <div class="flex items-center">
                    <a *ngIf="!last" class="hover:text-orange-600 font-medium">
                        {{ item.label }}
                    </a>
                    <span *ngIf="last" class="text-gray-500 font-semibold">{{ item.label }}</span>
                    <span *ngIf="!last" class="mx-2 text-gray-400">/</span>
                </div>
            </ng-container>
        </nav>
    </div>

    <div class="flex flex-col lg:flex-row justify-center items-center lg:items-start gap-4 relative mt-6">
        <div class="w-full sm:w-3/4 lg:w-1/4">
            <h2 class="mt-4 text-gray-700">Inicia sesión para acceder a los datos de tu comunicación.</h2>

            <form [formGroup]="formLogin" class="w-full sm:w-3/4 lg:w-2/5 m-auto mt-6">
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">* Identificador de la denuncia:</label>
                    <div class="relative">
                        <input type="text" formControlName="CODIGO"
                            class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
                        <span class="absolute right-3 top-3 text-red-500 text-xs">No Válido</span>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">* Contraseña:</label>
                    <input formControlName="CONTRASENA" type="password"
                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
                </div>

                <div class="flex justify-center mt-4">
                    <button
                        (click)="onValidateDenuncia()"
                        class="w-full bg-gray-400 text-white py-2 rounded-lg hover:bg-gray-500 transition">ENVIAR</button>
                </div>
            </form>

            <div class="text-center mt-4">
                <a href="#" class="text-gray-600 hover:underline">Recuperar contraseña</a>
            </div>
        </div>
    </div>
</section>