<div>
    <div class="text-center h-svh flex flex-col justify-center items-center">
        <div class="grid grid-cols-2">
            <div class="flex justify-center items-center h-full">
                <div>
                    <h1 class="text-6xl font-bold">Canal Denuncia</h1>
                    <span class="text-xl text-gray-600">Una plataforma de Caro & Asociados</span>
                    <div class="mt-4">
                        <button type="button" class="focus:outline-none font-bold text-white bg-orange-700 hover:bg-orange-800 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-orange-500 dark:hover:bg-orange-600 transition-all">Poner una denuncia</button>
                        <button type="button" class="focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-400 dark:hover:bg-gray-500">Ver denuncia</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-center items-center h-full">
                <img src="../../assets/stop.png" alt="stop_image" srcset="">
            </div>
        </div>
    </div>
    <section>
        <div class='m-auto max-w-screen-lg px-4 md:px-0 py-2.5'>
            <h2 class="text-center font-bold text-3xl">¿Que es Canal Denuncia?</h2>
            <div class="max-w-screen-sm m-auto text-justify py-6">
                <p>Estamos ante un canal de comunicación de incidencias completamente confidencial y a disposición de todos los que formamos Caro & Asociados (empleados, colaboradores, clientes, proveedores, etc.).</p>
                <p>Agradeceremos el hecho de recibir cualquier comunicación relacionada con malas prácticas financieras, contables, comerciales, valores o de cumplimiento vinculada a Caro & Asociados y que nos permita corregir el hecho y mejorar como empresa.</p>
                <p>La comunicación se realizará a través del formulario diseñado y desde Caro & Asociados garantizamos total confidencialidad y, por supuesto, activaremos todas las medidas a nuestro alcance para evitar cualquier tipo de represalia.</p>
                <p>Este mecanismo también está instaurado para recibir consultas sobre dudas que pueden surgir en la aplicación de normas y procedimientos internos de la Compañía.</p>
                <p>En Caro & Asociados estamos comprometidos con la transparencia, por tanto, agradecemos el hecho de recibir estas comunicaciones, las cuales nos permiten corregir hechos y mejorar permanentemente como empresa.</p>
            </div>
        </div>
    </section>
</div>