<header class='fixed top-0 right-0 left-0 top-0 bg-white m-auto max-w-screen-lg px-4 md:px-0 py-2.5'>
    <div class='flex justify-between items-center'>
        <a href="https://flowbite.com" class="flex items-center">
            <img src="https://caroasociados.canaletico.app/assets/img/logos/logo.png" class="mr-3 h-6 sm:h-9" alt="Logo" />
        </a>
        <div class="px-6 py-2 flex justify-around gap-x-6">
            <button class="py-2 justify-center text-xs font-medium cursor-pointer transition-all uppercase border-b-4 border-transparent hover:border-orange-500">
                Inicio
            </button>
            <button class="py-2 justify-center text-xs font-medium cursor-pointer transition-all uppercase border-b-4 border-transparent hover:border-orange-500">
                ¿Que es Canal Denuncia?
            </button>
            <button class="py-2 justify-center text-xs font-medium cursor-pointer transition-all uppercase border-b-4 border-transparent hover:border-orange-500">
                ¿Como enviar una Denuncia?
            </button>
            <button class="py-2 justify-center text-xs font-medium cursor-pointer transition-all uppercase border-b-4 border-transparent hover:border-orange-500">
                Soporte
            </button>
        </div>
        <div>
            <button class="px-4 py-3 justify-center text-xs font-bold rounded-2xl cursor-pointer transition-all uppercase bg-orange-500 text-white">
                Iniciar Sesión
            </button>
        </div>
    </div>
</header>